#title_bar {
    background: none;
}

.bg1 {
    background: none;
}

.bg2 {
    background: none;
}

#admin_bar {
    width: 100%;
    height: 100px;
}

#admin_bar div {
    width: calc(100% / 3 - 2px);
    height: 80px;
    display: block;
    text-align: center;
    padding: 20px 0 0 0;
    margin: 0;
    float: left;
    background-color: black;
    color: white;
    border: 1px solid black;
}

#admin_bar > div > a {
    color: white;
    font-size: 26px;
    font-variant-caps: all-small-caps;
    text-decoration: none;
}

#admin_bar > div.checked {
    background-color: white;
    color: black;
}

#admin_bar > div.checked > a {
    color: black;
}

html,
body {
    margin: 20px;
    padding: 0;
}

button {
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;
    border: 1px solid grey;
    background: ghostwhite;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

button.subdued {
    background: floralwhite;
    color: black;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

button.danger {
    background: orangered;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;
}

.clear {
    clear: both;
}

.clear.padded{
    margin-top: 10px;
}

hr {
    height: 1px;
    border: none;
    color: #000;
    background-color: #000;
    width: 60%;
    text-align: left;
    margin: 0 auto 10px 0;

}

textarea {
    margin: 0;
    padding: 10px;
    border: 1px solid grey;
    font-size: 22px;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    width: 270px;
    min-height: 90px;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

h3 {
    margin: 0;
    font-size: 1.2em;
    text-decoration: none
}

#row {
    width: 100%;
    margin: 0 auto
}

#app {
    width: 40%;
    float: left;
    padding: 1em
}

#app small {
    color: #afafaf;
    display: block;
    padding: 4px;
}

#move_turnleft{
    border: 1px solid black;
    height: 40px;
    width: 80px;
    display: block;
    position: absolute;
    top: 150px;
    left: calc(100% / 4 - 60px);
}

#move_turnright{
    border: 1px solid black;
    height: 40px;
    width: 80px;
    display: block;
    position: absolute;
    top: 150px;
    right: calc(100% / 4 - 60px);
}

#move_stop {
    border: 1px solid black;
    height: 40px;
    width: 80px;
    display: block;
    position: absolute;
    background: red;
    color: white;
    top: 200px;
    left: calc(100% / 2 - 40px);
}

#move_forward {
    border: 1px solid black;
    height: 40px;
    width: 80px;
    display: block;
    position: absolute;
    top: 130px;
    left: calc(100% / 2 - 40px);
}
#move_back {
    border: 1px solid black;
    height: 40px;
    width: 80px;
    display: block;
    position: absolute;
    top: 270px;
    left: calc(100% / 2 - 40px);
}
#move_left {
    border: 1px solid black;
    height: 40px;
    display: block;
    position: absolute;
    top: 390px;
    width: 80px;
    left: calc(100% / 4 - 40px);
}

#move_right {
    border: 1px solid black;
    height: 40px;
    display: block;
    position: absolute;
    top: 390px;
    width: 80px;
    right: calc(100% / 4 - 40px);
}

