@font-face {
    font-family: 'Aldebaran'; /*a name to be used later*/
    src: url('din.otf'); /*URL to font*/
}

@keyframes fadeIn {
    0% { opacity: 0; } 
    100% { opacity: 1; } 
}

#dialog_fallback_container {
    font-family:'Aldebaran';
    font-size: 270%;
    display:none;
    width: 95%;
    position: absolute;
    bottom: 4%;
    left: 2.5%;
    border-radius: 25px;
    background-color: rgb(213, 215, 217);
    box-shadow: 0px 0px 100px #000;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

#dialog_fallback_container #dialog_fallback_question {
    position: relative;
    background: url(pepper.png) #013243 no-repeat 0% 50%;
    background-size: contain;
    border-radius: 25px 25px 0 0;
    color: #F5F5F5;
    padding-left: 10%;
    line-height: 160%;
}

#dialog_fallback_container #dialog_fallback_answers {
    margin: 0 0.5% 0.5% 0.5%;
    text-align:center;
}
#dialog_fallback_container #dialog_fallback_answers button {
    border-radius: 20px;
    font-size: 90%;
    border-style: hidden;
    box-shadow: rgba(1, 50, 67, 0.75) 5px 6px 9px;
    text-shadow: 3px 3px #013243;
    width: 30%;
    height: 80px;
    background-color: #0090CF;
    background-image: linear-gradient(to bottom, #0090CF, #0072A5);
    margin: 0.7%;
    color: #E9EBEC;
    line-height: 50px;
    vertical-align: top;
}